{% extends 'base.html' %}

{% block title %}Sign up{% endblock %}

{% block footer %}
<script src = "../public/js/hideShowPassword.min.js"></script>
	<script>
	
		$.validator.addMethod('validPassword', 
			function(value, element, param){
			
				if(value !=''){
					if(value.match(/.*[a-z]+.*/i)==null){
						return false;
					}
					
					if(value.match(/.*\d+.*/)== null){
					
						return false;
					}
				}
				return true;
			},
			'Must contaains at least one letter and one number'
		
		);
	
	
		$(document).ready(function(){
		
			$('#formSignup').validate({
				
				rules: {
					login: 'required',
					email: {
						required: true,
						email: true,
						remote: '/BudgetMVC/public/?account/validate-email'
						
						//'http://'.$_SERVER['HTTP_HOST'].'/BudgetMVC/public/?account/validate-email'
						//'http://localhost/BudgetMVC/public/?account/validate-email'
						
					},
					pass: {
						required:true,
						minlength: 6,
						validPassword: true
					
					}
					//confirmPass: {
						//equalTo: '#inputPassword'   //here must add id value otherwise it is not going to work
					//},
					
				},
					messages: {
						email:{
							remote: "email already taken"
						}
					}
				
			});
			
			
			$('#inputPassword').hideShowPassword({
				show: false,
				innerToggle: 'focus'
			});
			
		});
	
	</script>
{% endblock %}

{% block body %}

	<main class = "main">
		
		
		<section class = "top">
		
			<div class = "up-flex">
				<h1>SIGN UP</h1>
				
				
				<div class ="errors">
					{% if user.errors is not empty %}
						<p>Errors:</p>
						<ul>
							{% for error in user.errors %}
								<li>{{error}}</li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
			
			</div>
		
		</section>
		
		<section class = "form">
		
			<div class = "form-class">
				<form method = "post" action = "/BudgetMVC/public/?signup/create" id = "formSignup">
				
					<br/><label><input type = "text" id = "login" name = "login" placeholder = "Login" value = "{{user.login}}" /></label>
					<br>
					<br/>
					<label><input type = "password" name = "pass" placeholder = "Password" id = "inputPassword" /></label>
					<br>
					
					
					<br>
					<label><input type = "email" id = "email" name = "email" placeholder = "Email" value = "{{user.email}}" /></label>
					
					
					
					
					<br>
					<br>
					<label><input type = "submit" name= "signin" value = "CONFIRM"></label>
				
				</form>
			</div>
		
		</section>
		
		
		
	</main>
	
	

	
	
	
{% endblock %}