{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}

    <h1>Index Page</h1>
    <body>

<main>

	
	
		<div class = "container">
		
			<header>
				
				<h1 class = "title">MY BUDGET</h1>
			
			</header>
			
			<br><br><br>
			<article>
			
				<div class ='title'>
					
						
				<form>
				
					
					
					
					
						<div class = "button">
						
							
							<label> 
								<a href = "/BudgetMVC/public/?signup/new">Rejestracja</a>
							</label>
						
						</div>
						
					
						
						
					
						<div class = "button">
						
							<label>
							
							
							<a href = "/BudgetMVC/public/?login/new">Logowanie</a>
							
							</label>

									
						
						</div>
						
				
				
				</form>
				
			
			</article>
			
		
		</div>
	
	</div>




</main>



</body>

{% endblock %}
