{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}


<main>

	<section class = "background">
	
		<div class = "container grid">
		
			<div class = "login">
			
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet tellus sit amet nibh tincidunt consectetur ac a erat. Phasellus vulputate nulla consectetur arcu vestibulum, vitae fermentum turpis accumsan. Vivamus quis est quis ante ornare lacinia eleifend ac neque. Nunc tempus risus at eros ultricies fringilla.
				</p>
				
				<div class ="container-links">
				
					<a href="/BudgetMVC/public/?signup/new" class = "btn btn-white">Register</a>
					<a href ="/BudgetMVC/public/?login/new" class ="btn btn-outline"> Log in </a>
				
				</div>
			
			</div>
			
			<img src = '/BudgetMVC/public/img/calculator.jpg' class = "picture" alt = "Obrazek z kalkulatorem">
		
		</div>
	
		
	
	</section>

</main>

{% endblock %}
